/** 
CSS Header:
*/
.mi-ninedot-white {
    /* icon sm */
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -62px -82px;
    -moz-mask-position: -62px -82px;
    -ms-mask-position: -62px -82px;
    -o-mask-position: -62px -82px;
    mask-position: -62px -82px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #fff !important;
}

.mi-payroll-logo {
    /* icon-md */
    background-image: url("https://testcdnamisapp.misacdn.net/apps/payroll/static/logos/icon-payroll-logo.svg?v=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.mi-search-white {
    /* icon base */
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: 0px 0px;
    -moz-mask-position: 0px 0px;
    -ms-mask-position: 0px 0px;
    -o-mask-position: 0px 0px;
    mask-position: 0px 0px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #ffffffb3 !important;
}

.mi-setting-white {
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -webkit-mask-position: -362px -434px;
    -moz-mask-position: -362px -434px;
    -ms-mask-position: -362px -434px;
    -o-mask-position: -362px -434px;
    mask-position: -362px -434px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #fff !important;
}

.mi-agent-box {
    background: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/payroll_agent-d_2srbQV.png);
    background-size: cover;
    width: 25px;
    height: 25px;
}

.mi-new-feature-white {
    width: 21px;
    height: 19px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -webkit-mask-position: -338px -435px;
    -moz-mask-position: -338px -435px;
    -ms-mask-position: -338px -435px;
    -o-mask-position: -338px -435px;
    mask-position: -338px -435px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #fff !important;
}

.mi-chat {
    width: 24px;
    height: 24px;
    background-image: url("/src/assets/icons/mi-chat.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.mi-alert {
    width: 24px;
    height: 24px;
    background-image: url("/src/assets/icons/mi-alert.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.mi-ask {
    width: 24px;
    height: 24px;
    background-image: url("/src/assets/icons/mi-ask-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.mi-other-feat {
    width: 24px;
    height: 24px;
    background-image: url("/src/assets/icons/mi-other-feat.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.mi-book {
    width: 24px;
    height: 24px;
    background-image: url("/src/assets/icons/mi-book.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.mi-avatar {
    /* icon-md */
    background-image: url("https://testcdnamisapp.misacdn.net/APIS/PlatformAPI/api/Avatar/44660afe-149e-4984-9e3c-21fedc82d344/T8UM3JZX.jpg?avatarID=f552c9cb-f42c-419b-9d7a-2304e5f5e8e8&width=64&height=64");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.mi-sidebar-dashboard {
    width: 18px;
    height: 18px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -webkit-mask-position: -157px -357px;
    -moz-mask-position: -157px -357px;
    -ms-mask-position: -157px -357px;
    -o-mask-position: -157px -357px;
    mask-position: -157px -357px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #717680 !important;
}

.mi-sidebar-salary-composition {
    width: 18px;
    height: 18px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -webkit-mask-position: -277px -357px;
    -moz-mask-position: -277px -357px;
    -ms-mask-position: -277px -357px;
    -o-mask-position: -277px -357px;
    mask-position: -277px -357px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #717680 !important;
}

.mi-sidebar-salary-template {
    width: 18px;
    height: 18px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -webkit-mask-position: -258px -357px;
    -moz-mask-position: -258px -357px;
    -ms-mask-position: -258px -357px;
    -o-mask-position: -258px -357px;
    mask-position: -258px -357px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #717680 !important;
}

.mi-sidebar-salary-data {
    width: 18px;
    height: 18px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -webkit-mask-position: -178px -357px;
    -moz-mask-position: -178px -357px;
    -ms-mask-position: -178px -357px;
    -o-mask-position: -178px -357px;
    mask-position: -178px -357px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #717680 !important;
}

.ms-icon-chevron-right {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #717680 !important;
    -webkit-mask-image: url(/src/assets/icons/mi-nav-common.svg);
    mask-image: url(/src/assets/icons/mi-nav-common.svg);
    -webkit-mask-position: -96px -224px;
    mask-position: -96px -224px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 752px 400px;
    mask-size: 752px 400px;
    flex-shrink: 0;
    background-image: none;
    background-color: currentColor;
}

.mi-sidebar-salary-table {
    width: 18px;
    height: 18px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -webkit-mask-position: -197px -357px;
    -moz-mask-position: -197px -357px;
    -ms-mask-position: -197px -357px;
    -o-mask-position: -197px -357px;
    mask-position: -197px -357px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #717680 !important;
}

.mi-sidebar-payment {
    width: 18px;
    height: 18px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -webkit-mask-position: -218px -357px;
    -moz-mask-position: -218px -357px;
    -ms-mask-position: -218px -357px;
    -o-mask-position: -218px -357px;
    mask-position: -218px -357px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #717680 !important;
}

.mi-sidebar-report {
    width: 18px;
    height: 18px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_2-yHWDHVC3.svg);
    -webkit-mask-position: -238px -357px;
    -moz-mask-position: -238px -357px;
    -ms-mask-position: -238px -357px;
    -o-mask-position: -238px -357px;
    mask-position: -238px -357px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #717680 !important;
}

.ms-icon-sidebar-collapse {
    width: 16px;
    height: 16px;
    -webkit-mask-image: url(/src/assets/icons/mi-left.svg);
    mask-image: url(/src/assets/icons/mi-left.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: #717680;
    height: 100%;
}

.mi-rule {
    width: 17px;
    height: 17px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -82px -101px;
    -moz-mask-position: -82px -101px;
    -ms-mask-position: -82px -101px;
    -o-mask-position: -82px -101px;
    mask-position: -82px -101px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #6e737a !important;
}

.mi-chevron-down-white {
    width: 12px;
    height: 8px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -124px -6px;
    -moz-mask-position: -124px -6px;
    -ms-mask-position: -124px -6px;
    -o-mask-position: -124px -6px;
    mask-position: -124px -6px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #fff !important;
}

.mi-plus-white {
    width: 16px;
    height: 18px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -240px -1px;
    -moz-mask-position: -240px -1px;
    -ms-mask-position: -240px -1px;
    -o-mask-position: -240px -1px;
    mask-position: -240px -1px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #fff !important;
}

.mi-search {
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: 0px 0px;
    -moz-mask-position: 0px 0px;
    -ms-mask-position: 0px 0px;
    -o-mask-position: 0px 0px;
    mask-position: 0px 0px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #6e737a !important;
}

.mi-chevron-down {
    width: 12px;
    height: 8px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -124px -6px;
    -moz-mask-position: -124px -6px;
    -ms-mask-position: -124px -6px;
    -o-mask-position: -124px -6px;
    mask-position: -124px -6px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #6e737a !important;
}

.mi-filter {
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -20px 0;
    -moz-mask-position: -20px 0;
    -ms-mask-position: -20px 0;
    -o-mask-position: -20px 0;
    mask-position: -20px 0;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #6e737a !important;
}

.mi-setting {
    width: 18px;
    height: 18px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -321px -81px;
    -moz-mask-position: -321px -81px;
    -ms-mask-position: -321px -81px;
    -o-mask-position: -321px -81px;
    mask-position: -321px -81px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #666 !important;
}

.mi-next-right {
    background: url('/src/assets/icons/mi-many.svg') no-repeat -237px -57px;
    width: 6px;
    height: 10px;
}

.mi-next-left {
    background: url('/src/assets/icons/mi-many.svg') no-repeat -221px -57px;
    width: 6px;
    height: 10px;
}

.mi-next-double-left {
    background: url('/src/assets/icons/mi-many.svg') no-repeat -475px -57px;
    width: 12px;
    height: 10px;
}

.mi-next-double-right {
    background: url('/src/assets/icons/mi-many.svg') no-repeat -491px -56px;
    width: 12px;
    height: 10px;
}

.mi-circle-off {
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/icons/mi-none.svg");
    background-size: contain;
}

.mi-arrow-up {
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/icons/mi-arrow-up.svg");
    background-size: contain;
}

.mi-arrow-down {
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/icons/mi-arrow-down.svg");
    background-size: contain;
}

.mi-pinned {
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/icons/mi-pinned.svg");
    background-size: contain;
}

.mi-check {
    width: 16px;
    height: 16px;
    background: url("/src/assets/icons/mi-many2.svg") no-repeat -579px -150px;
}

.mi-unpin {
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/icons/mi-unpin.svg");
    background-size: contain;
}

.mi-arrow-left {
    width: 14px;
    height: 12px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -203px -4px;
    -moz-mask-position: -203px -4px;
    -ms-mask-position: -203px -4px;
    -o-mask-position: -203px -4px;
    mask-position: -203px -4px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #6e737a !important;
}

.mi-table-nodata {
    display: inline-block;
    background-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/EmptyState-hFasANEP.svg);
    background-repeat: no-repeat;
    width: 195px;
    height: 133px;
    background-position: -152px -3046px;
}

.mi-circle-minus-yellow {
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -180px -40px;
    -moz-mask-position: -180px -40px;
    -ms-mask-position: -180px -40px;
    -o-mask-position: -180px -40px;
    mask-position: -180px -40px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #f90 !important;
}

.mi-copy {
    width: 22px;
    height: 18px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -100px 0;
    -moz-mask-position: -100px 0;
    -ms-mask-position: -100px 0;
    -o-mask-position: -100px 0;
    mask-position: -100px 0;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #6e737a !important;
}

.mi-pencil {
    width: 15px;
    height: 15px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -82px -3px;
    -moz-mask-position: -82px -3px;
    -ms-mask-position: -82px -3px;
    -o-mask-position: -82px -3px;
    mask-position: -82px -3px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #6e737a !important;
}

.mi-trash-red {
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -100px -21px;
    -moz-mask-position: -100px -21px;
    -ms-mask-position: -100px -21px;
    -o-mask-position: -100px -21px;
    mask-position: -100px -21px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #ff6161 !important;
}

.mi-circle-check-green {
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -moz-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -ms-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -o-mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    mask-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/ICON_V3_1-qvutYp_o.svg);
    -webkit-mask-position: -141px -41px;
    -moz-mask-position: -141px -41px;
    -ms-mask-position: -141px -41px;
    -o-mask-position: -141px -41px;
    mask-position: -141px -41px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #25b973 !important;
}

.mi-close {
    width: 10px;
    height: 10px;
    background: url("/src/assets/icons/mi-many.svg") no-repeat -443px -57px;
}