.sidebar{
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.sb__top{
    flex: 1;
}

.sb__list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-content: center;
    height: calc(100% - 56px);
    margin-left: 12px;
}

.sb__recrui_icon{
  -webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit/assets/images/ICON.svg);
  -webkit-mask-position: -94px -113px;
  -webkit-mask-repeat: no-repeat;
  background-color: #c5ccd5;
}

.sb__candidate_icon{
  -webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit/assets/images/ICON.svg);
    -webkit-mask-position: -24px -112px;
    -webkit-mask-repeat: no-repeat;
    background-color: #ffffff;
}

.sb__talent_pool_icon{
  -webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit/assets/images/ICON.svg);
    -webkit-mask-position: 0px -112px;
    -webkit-mask-repeat: no-repeat;
    background-color: #c5ccd5;
}

.sb__recrui_campaign_icon{
-webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit/assets/images/ICON.svg);
    -webkit-mask-position: -73px -633px;
    -webkit-mask-repeat: no-repeat;
    background-color: #ffffff;
}

.sb__task_icon{
      -webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit/assets/images/ICON.svg);
    -webkit-mask-position: -336px -113px;
    -webkit-mask-repeat: no-repeat;
    background-color: #c5ccd5;
}

.sb__setting_icon{
  -webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit/assets/images/ICON.svg);
    -webkit-mask-position: 0px -136px;
    -webkit-mask-repeat: no-repeat;
    background-color: #c5ccd5;
}

.sb__report_icon{
-webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit/assets/images/ICON.svg);
    -webkit-mask-position: -72px -113px;
    -webkit-mask-repeat: no-repeat;
    background-color: #c5ccd5;
}



.menu__item {
  display: flex;
  align-items: center;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.72);
  text-decoration: none;
  transition: all 0.2s ease;
}

.menu__item:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
}
/* 
.menu__item.active {
  background: linear-gradient(90deg, #2580f7, #3a87ea);
  color: #ffffff;
  box-shadow: 0 8px 24px rgba(43, 127, 255, 0.28);
} */

.menu__icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.menu__text {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.sb__bottom{
    height: 40px;
    display: flex;
    justify-content: center;
}

.sb__btn_left{
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #fff;
    border-radius: 4px;
    padding: 8px;
    width: 200px;
    color: #fff;
    display: flex;
}

.sb__left_icon{
    -webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit/assets/images/ICON.svg);
    -webkit-mask-position: -60px -696px;
    -webkit-mask-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-color: #fff;
}
